*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--van-gray-1);
  color-scheme: light;

  // van-message
}

html.dark {
  background: #222;
  color-scheme: dark;
}

html:root {
  --van-dialog-radius: 0;
}

#app {
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-item-enter-active,
.fade-item-leave-active {
  transition: opacity 0.2s linear;
}

.fade-item-enter-from,
.fade-item-leave-to {
  opacity: 0;
}

.van-button {
  display: block;
}
